---
layout: default
title: "Stu Bates"
---

<div id="content" class="text-center mt-6 md:w-1/2 mx-auto text-black text-opacity-80 px-4">
    <div class="mb-8">
        <h1 class="mt-12 text-6xl">Stuart Bates</h1>
        <p class="text-xl mt-0 text-black text-opacity-60">Business &bull; Product &bull; Software</p>
    </div>

    <div class="text-2xl leading-relaxed">
        <p class="mt-12">
            Previous versions of this blurb were wordy and quite frankly full of crap. This is a much shorter, simpler and honest version.
        </p>
        <p class="mt-12">
            I'm a parent, a software engineer and an avid weightlifter. I've played Ice Hockey most my life but have just quit to take up Brazilian Jiu Jitsu. One day soon I plan to start a boring and very profitable business.
        </p>
        <p class="mt-12">
            I have lots I want to write about but some combination of perfectionism and busyness prevents me. Pretty much the only post I have is this that I wrote last year on <a href="{{ site.posts[0].url | relative_url }}">{{site.posts[0].title}}</a>.
        </p>
        <p class="mt-12 mb-0">
            If you'd like to reach out for any reason, drop me an email to <a href="mailto:hello@stuartbates.com" target="_blank">hello@stuartbates.com</a>.
        </p>
        <p class="mt-2 text-base">
            (Although I'll warn you now, I'm god awful at replying to email, so don't take it personally!)
        </p>
    </div>
</div>
